In [42]:
#Dependencies
import pandas as pd
import numpy as np

from scipy.sparse import csr_matrix
import sklearn
from sklearn.decomposition import TruncatedSVD

import pymysql
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String, Float
pymysql.install_as_MySQLdb()

In [2]:
#Load Data and select columns
book = pd.read_csv('Resources/BX-Books.csv', error_bad_lines=False, encoding="latin-1")
book.column = ['ISBN', 'bookTitle', 'bookAuthor', 'yearOfPublication', 'publisher', 'imageUrlS', 'imageUrlM', 'imageUrlL']
book.head()

C:\Users\flori\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher,imageUrlS,imageUrlM,imageUrlL
0,195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,60973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [3]:
book.shape

(271375, 8)

In [4]:
user = pd.read_csv('Resources/BX-Users.csv', error_bad_lines=False, encoding="latin-1")
user.column = ['userID', 'Location']
user.head()

   userID         Location
0     1.0              usa
1     2.0              usa
2     3.0           russia
3     4.0         portugal
4     5.0   united kingdom

In [5]:
user.shape

(271695, 2)

In [6]:
#user.dropna(subset=['Location'], inplace=True)

In [8]:
# user['userID'] = user['userID'].astype(int)
# user.head()

In [9]:
# user['userID'] = user['userID'].replace('.0', '', regex=True)
# user.head()

In [10]:
rating = pd.read_csv('Resources/BX-Book-Ratings.csv', error_bad_lines=False, encoding="latin-1")
rating.column = ['userID', 'ISBN', 'bookRating']
rating.head()

   userID       ISBN  bookRating
0       2  195153448         0.0
1       7   34542252         0.0
2       8    2005018         5.0
3       8   60973129         0.0
4       8  374157065         0.0

In [11]:
rating.shape

(1048567, 3)

In [12]:
# rating['bookRating']=rating['bookRating'].replace('.0', '', regex=True)
# rating.head()

In [13]:
#For statistical significance, we only look at popular book. Combine book data with rating data
combine_book_rating = pd.merge(rating, book, on='ISBN')
columns = ['publisher','imageUrlS', 'imageUrlL']
combine_book_rating = combine_book_rating.drop(columns, axis=1)
combine_book_rating.head()

,userID,ISBN,bookRating,bookTitle,bookAuthor,yearOfPublication,imageUrlM
0,2,195153448,0.0,Classical Mythology,Mark P. O. Morford,2002,http://images.amazon.com/images/P/0195153448.0...
1,8,2005018,5.0,Clara Callan,Richard Bruce Wright,2001,http://images.amazon.com/images/P/0002005018.0...
2,11400,2005018,0.0,Clara Callan,Richard Bruce Wright,2001,http://images.amazon.com/images/P/0002005018.0...
3,11676,2005018,8.0,Clara Callan,Richard Bruce Wright,2001,http://images.amazon.com/images/P/0002005018.0...
4,41385,2005018,0.0,Clara Callan,Richard Bruce Wright,2001,http://images.amazon.com/images/P/0002005018.0...

In [14]:
num_items = len(combine_book_rating.ISBN.unique())
num_items

257828

In [15]:
num_users = len(combine_book_rating.userID.unique())
num_users

83642

In [16]:
combine_book_rating = combine_book_rating.dropna(axis = 0, subset = ['bookTitle'])

In [17]:
# Group by book titles and create new column for total rating count
book_ratingCount = (combine_book_rating.
      groupby(by =['bookTitle'])['bookRating'].
      count().
      reset_index().
      rename(columns = {'bookRating':'totalRatingCount'})             
      [['bookTitle', 'totalRatingCount']]           
      )
book_ratingCount.head()

                                           bookTitle  totalRatingCount
0   A Light in the Storm: The Civil War Diary of ...                 4
1                              Always Have Popsicles                 1
2               Apple Magic (The Collector's series)                 1
3   Beyond IBM: Leadership Marketing and Finance ...                 1
4   Clifford Visita El Hospital (Clifford El Gran...                 1

In [18]:
#Combine rating data with total rating count data to filter out lesser known books as they have ratings from fewer readers. Filtering will make the patter less noisy and can improve recommendation quality 
rating_with_totalRatingCount = combine_book_rating.merge(book_ratingCount, left_on = 'bookTitle', right_on = 'bookTitle', how= 'left')
rating_with_totalRatingCount.head()

,userID,ISBN,bookRating,bookTitle,bookAuthor,yearOfPublication,imageUrlM,totalRatingCount
0,2,195153448,0.0,Classical Mythology,Mark P. O. Morford,2002,http://images.amazon.com/images/P/0195153448.0...,1
1,8,2005018,5.0,Clara Callan,Richard Bruce Wright,2001,http://images.amazon.com/images/P/0002005018.0...,13
2,11400,2005018,0.0,Clara Callan,Richard Bruce Wright,2001,http://images.amazon.com/images/P/0002005018.0...,13
3,11676,2005018,8.0,Clara Callan,Richard Bruce Wright,2001,http://images.amazon.com/images/P/0002005018.0...,13
4,41385,2005018,0.0,Clara Callan,Richard Bruce Wright,2001,http://images.amazon.com/images/P/0002005018.0...,13

In [19]:
#Statistics of total rating count
pd.set_option('display.float_format', lambda x: '%3f' % x)
print(book_ratingCount['totalRatingCount'].describe())

count   226806.000000
mean         4.149463
std         15.765107
min          1.000000
25%          1.000000
50%          1.000000
75%          3.000000
max       2264.000000
Name: totalRatingCount, dtype: float64

In [20]:
#Look at the top of the distribution
#About 1% of the books received 48 or more ratings. 
print(book_ratingCount['totalRatingCount'].quantile(np.arange(.9, 1, .01)))

0.900000    7.000000
0.910000    8.000000
0.920000    8.000000
0.930000    9.000000
0.940000   11.000000
0.950000   13.000000
0.960000   15.000000
0.970000   20.000000
0.980000   28.000000
0.990000   48.000000
Name: totalRatingCount, dtype: float64

In [21]:
#Limit number of books to the top 1% and this will give us 2578 unique books
popularity_threshold = 50
rating_popular_book = rating_with_totalRatingCount.query('totalRatingCount >= @popularity_threshold')
rating_popular_book.head()

,userID,ISBN,bookRating,bookTitle,bookAuthor,yearOfPublication,imageUrlM,totalRatingCount
29,8,399135782,0.000000,The Kitchen God's Wife,Amy Tan,1991,http://images.amazon.com/images/P/0399135782.0...,284
30,11676,399135782,9.000000,The Kitchen God's Wife,Amy Tan,1991,http://images.amazon.com/images/P/0399135782.0...,284
31,29526,399135782,9.000000,The Kitchen God's Wife,Amy Tan,1991,http://images.amazon.com/images/P/0399135782.0...,284
32,36836,399135782,0.000000,The Kitchen God's Wife,Amy Tan,1991,http://images.amazon.com/images/P/0399135782.0...,284
33,46398,399135782,9.000000,The Kitchen God's Wife,Amy Tan,1991,http://images.amazon.com/images/P/0399135782.0...,284

In [25]:
#Limit number of users to those in Canada and the US. Combine user data with rating data and total rating count data
combined = rating_popular_book.merge(user, left_on = 'userID', right_on = 'userID', how ='left')
#us_canada_user_rating = combined[combined['Location'].str.contains("usa|canada")]
us_canada_user_rating = combined[combined['Location'].str.contains("usa|canada")==True]
us_canada_user_rating.head()

,userID,ISBN,bookRating,bookTitle,bookAuthor,yearOfPublication,imageUrlM,totalRatingCount,Location
0,8,399135782,0.000000,The Kitchen God's Wife,Amy Tan,1991,http://images.amazon.com/images/P/0399135782.0...,284,canada
2,29526,399135782,9.000000,The Kitchen God's Wife,Amy Tan,1991,http://images.amazon.com/images/P/0399135782.0...,284,usa
3,36836,399135782,0.000000,The Kitchen God's Wife,Amy Tan,1991,http://images.amazon.com/images/P/0399135782.0...,284,usa
4,46398,399135782,9.000000,The Kitchen God's Wife,Amy Tan,1991,http://images.amazon.com/images/P/0399135782.0...,284,usa
5,49300,399135782,0.000000,The Kitchen God's Wife,Amy Tan,1991,http://images.amazon.com/images/P/0399135782.0...,284,usa

In [26]:
num_books = len(us_canada_user_rating.ISBN.unique())
num_books

6621

In [27]:
us_canada_user_rating.shape

(218294, 9)

In [28]:
# filter data
if not us_canada_user_rating[us_canada_user_rating.duplicated(['userID', 'bookTitle'])].empty:
    initial_rows = us_canada_user_rating.shape[0]

    print('Initial dataframe shape {0}'.format(us_canada_user_rating.shape))
    us_canada_user_rating = us_canada_user_rating.drop_duplicates(['userID', 'bookTitle'])
    current_rows = us_canada_user_rating.shape[0]
    print('New dataframe shape {0}'.format(us_canada_user_rating.shape))
    print('Removed {0} rows'.format(initial_rows - current_rows))

Initial dataframe shape (218294, 9)
New dataframe shape (215624, 9)
Removed 2670 rows

In [29]:
num_books = len(us_canada_user_rating.ISBN.unique())
num_books

6441

In [30]:
us_canada_user_rating.head()

,userID,ISBN,bookRating,bookTitle,bookAuthor,yearOfPublication,imageUrlM,totalRatingCount,Location
0,8,399135782,0.000000,The Kitchen God's Wife,Amy Tan,1991,http://images.amazon.com/images/P/0399135782.0...,284,canada
2,29526,399135782,9.000000,The Kitchen God's Wife,Amy Tan,1991,http://images.amazon.com/images/P/0399135782.0...,284,usa
3,36836,399135782,0.000000,The Kitchen God's Wife,Amy Tan,1991,http://images.amazon.com/images/P/0399135782.0...,284,usa
4,46398,399135782,9.000000,The Kitchen God's Wife,Amy Tan,1991,http://images.amazon.com/images/P/0399135782.0...,284,usa
5,49300,399135782,0.000000,The Kitchen God's Wife,Amy Tan,1991,http://images.amazon.com/images/P/0399135782.0...,284,usa

In [39]:
# Put transformed dataframe to csv file
us_canada_user_rating.to_csv('Resources/clean_books_data2.csv',index = True, header = True)

In [46]:
engine = create_engine('mysql://root:root123@127.0.0.1:3306/knn_db')

In [47]:
us_canada_user_rating.to_sql(name='knn_data', con=engine, if_exists = 'append', index=False)

In [49]:
pd.read_sql_query('select * from knn_data', con=engine).head()

,userID,ISBN,bookRating,bookTitle,bookAuthor,yearOfPublication,imageUrlM,totalRatingCount,Location
0,8,399135782,0.000000,The Kitchen God's Wife,Amy Tan,1991,http://images.amazon.com/images/P/0399135782.0...,284,canada
1,29526,399135782,9.000000,The Kitchen God's Wife,Amy Tan,1991,http://images.amazon.com/images/P/0399135782.0...,284,usa
2,36836,399135782,0.000000,The Kitchen God's Wife,Amy Tan,1991,http://images.amazon.com/images/P/0399135782.0...,284,usa
3,46398,399135782,9.000000,The Kitchen God's Wife,Amy Tan,1991,http://images.amazon.com/images/P/0399135782.0...,284,usa
4,49300,399135782,0.000000,The Kitchen God's Wife,Amy Tan,1991,http://images.amazon.com/images/P/0399135782.0...,284,usa

In [31]:
#Use unsupervised algorithms with sklearn.neighbours. Use "brute" to compute nearest neighbours and specify "metric=cosine" so algorithm will calculate the cosine similarity between rating vectors. Then fit the model
#Reshape data (produce a “pivot” table) based on column values. Uses unique values from specified index / columns to form axes of the resulting DataFrame.
#For K-Nearest Neighbors, we want the data to be in an (artist, user) array, where each row is a book and each column is a different user.
#We'll pivot the dataframe to the wide format with books as rows and users as columns
#Then we'll fill the missing observations with 0s since we're going to be performing linear algebra operations (calculating distances between vectors). 
#Finally, we transform the values of the dataframe into a scipy sparse matrix for more efficient calculations.
us_canada_user_rating_pivot = us_canada_user_rating.pivot(index = 'bookTitle', columns = 'userID', values = 'bookRating').fillna(0)
us_canada_user_rating_matrix = csr_matrix(us_canada_user_rating_pivot.values)

In [32]:
from sklearn.neighbors import NearestNeighbors
#define model
model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
#fit model
model_knn.fit(us_canada_user_rating_matrix)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
         metric_params=None, n_jobs=1, n_neighbors=5, p=2, radius=1.0)

In [33]:
# kNN algorithm measures distance to determine the 'closeness' of instances.
# It then classifies an instance by finding its nearest neighbours and picks the most popular class among the neighbours
query_index = np.random.choice(us_canada_user_rating_pivot.shape[0])
distances, indices = model_knn.kneighbors(us_canada_user_rating_pivot.iloc[query_index, :].reshape(1, -1), n_neighbors = 6)

for i in range(0, len(distances.flatten())):
    if i == 0:
        print('Recommendations for {0}:\n'.format(us_canada_user_rating_pivot.index[query_index]))
    else:
        print('{0}: {1}, with distance of {2}:'.format(i, us_canada_user_rating_pivot.index[indices.flatten()[i]], distances.flatten()[i]))

Recommendations for Princess: A True Story of Life Behind the Veil in Saudi Arabia:

1: The Magic of You (Malory Novels (Paperback)), with distance of 0.824703527929361:
2: Home for the Holidays, with distance of 0.8708599178117861:
3: Heart of a Warrior, with distance of 0.8793788782543438:
4: Where There's Smoke, with distance of 0.8924586533088861:
5: The Heir, with distance of 0.8992171759609185:

C:\Users\flori\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead
  from ipykernel import kernelapp as app

In [38]:
# calculate total number of entries in the book-user matrix
num_entries = us_canada_user_rating_pivot.shape[0] * us_canada_user_rating_pivot.shape[1]
# calculate total number of entries with zero values
num_zeros = (us_canada_user_rating_pivot==0).sum(axis=1).sum()
# calculate ratio of number of zeros to number of entries
ratio_zeros = num_zeros / num_entries
print('There is about {:.2%} of ratings in our data that is missing'.format(ratio_zeros))

There is about 99.89% of ratings in our data that is missing