In [10]:
#Dependencies
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String, Float
pymysql.install_as_MySQLdb()

In [11]:
#Read the csv file into a pandas DataFrame
ratings_df = pd.read_csv('Resources/BX-Book-Ratings.csv',encoding="ISO-8859-1")
ratings_df.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X          0.0
1   276726   155061224          5.0
2   276727   446520802          0.0
3   276729  052165615X          3.0
4   276729   521795028          6.0

In [12]:
#Read the csv file into a pandas DataFrame
users_df = pd.read_csv('Resources/BX-Users.csv',encoding="ISO-8859-1")
users_df.head()

   User-ID          Country
0      1.0              usa
1      2.0              usa
2      3.0           russia
3      4.0         portugal
4      5.0   united kingdom

In [13]:
users_df['Country'].replace('', np.nan, inplace=True)
users_df

         User-ID           Country
0            1.0               usa
1            2.0               usa
2            3.0            russia
3            4.0          portugal
4            5.0    united kingdom
5            6.0               usa
6            7.0               usa
7            8.0            canada
8            9.0               usa
9           10.0             spain
10          11.0         australia
11          12.0               usa
12          13.0             spain
13          14.0               usa
14          15.0            canada
15          16.0               usa
16          17.0               usa
17          18.0            brazil
18          19.0               NaN
19          20.0               usa
20          21.0             spain
21          22.0           germany
22          23.0               usa
23          24.0           germany
24          25.0               usa
25          26.0               usa
26          27.0               usa
27          28.0           germany
28          29.0            mexico
29          30.0               usa
...          ...               ...
276241  278829.0               usa
276242  278830.0               usa
276243  278831.0               usa
276244  278832.0               usa
276245  278833.0           vietnam
276246  278834.0           germany
276247  278835.0          pakistan
276248  278836.0               usa
276249  278837.0             china
276250  278838.0               usa
276251  278839.0               usa
276252  278840.0               usa
276253  278841.0   united kingdom.
276254  278842.0         australia
276255  278843.0               usa
276256  278844.0               usa
276257  278845.0           finland
276258  278846.0            canada
276259  278847.0               usa
276260  278848.0           germany
276261  278849.0            canada
276262  278850.0             italy
276263  278851.0               usa
276264  278852.0         australia
276265  278853.0    united kingdom
276266  278854.0               usa
276267  278855.0    united kingdom
276268  278856.0            canada
276269  278857.0               usa
276270  278858.0           ireland

[276271 rows x 2 columns]

In [14]:
users_df.dropna(subset=['Country'], inplace=True)
users_df

         User-ID           Country
0            1.0               usa
1            2.0               usa
2            3.0            russia
3            4.0          portugal
4            5.0    united kingdom
5            6.0               usa
6            7.0               usa
7            8.0            canada
8            9.0               usa
9           10.0             spain
10          11.0         australia
11          12.0               usa
12          13.0             spain
13          14.0               usa
14          15.0            canada
15          16.0               usa
16          17.0               usa
17          18.0            brazil
19          20.0               usa
20          21.0             spain
21          22.0           germany
22          23.0               usa
23          24.0           germany
24          25.0               usa
25          26.0               usa
26          27.0               usa
27          28.0           germany
28          29.0            mexico
29          30.0               usa
30          31.0             china
...          ...               ...
276241  278829.0               usa
276242  278830.0               usa
276243  278831.0               usa
276244  278832.0               usa
276245  278833.0           vietnam
276246  278834.0           germany
276247  278835.0          pakistan
276248  278836.0               usa
276249  278837.0             china
276250  278838.0               usa
276251  278839.0               usa
276252  278840.0               usa
276253  278841.0   united kingdom.
276254  278842.0         australia
276255  278843.0               usa
276256  278844.0               usa
276257  278845.0           finland
276258  278846.0            canada
276259  278847.0               usa
276260  278848.0           germany
276261  278849.0            canada
276262  278850.0             italy
276263  278851.0               usa
276264  278852.0         australia
276265  278853.0    united kingdom
276266  278854.0               usa
276267  278855.0    united kingdom
276268  278856.0            canada
276269  278857.0               usa
276270  278858.0           ireland

[271709 rows x 2 columns]

In [19]:
users_new_df=pd.merge(ratings_df, users_df, on='User-ID')
users_new_df.shape

(1012907, 4)

In [20]:
users_new_df

         User-ID        ISBN  Book-Rating        Country
0         276725  034545104X          0.0            usa
1         276726   155061224          5.0            usa
2         276727   446520802          0.0      australia
3         276729  052165615X          3.0        croatia
4         276729   521795028          6.0        croatia
5         276733  2080674722          0.0         france
6         276736  3257224281          8.0        austria
7         276737   600570967          6.0      australia
8         276744  038550120X          7.0            usa
9         276745   342310538         10.0        germany
10        276748   747558167          6.0   saudi arabia
11        276748  3442437407          0.0   saudi arabia
12        276751  033390804X          0.0    switzerland
13        276751  3596218098          8.0    switzerland
14        276754   684867621          8.0         canada
15        276755   451166892          5.0        germany
16        276760  8440682697         10.0          spain
17        276762  034544003X          0.0        germany
18        276762   380000059          0.0        germany
19        276762   380711524          5.0        germany
20        276762   451167317          0.0        germany
21        276762   451454952          0.0        germany
22        276762   843920262          0.0        germany
23        276762  3404122879          0.0        germany
24        276762  3404182928          0.0        germany
25        276762  3404611306          0.0        germany
26        276762   342662429          0.0        germany
27        276762  3426690179          0.0        germany
28        276762  3442424216          0.0        germany
29        276762  3442425573          0.0        germany
...          ...         ...          ...            ...
1012877   250764   449221180          0.0            usa
1012878   250764   449221873          0.0            usa
1012879   250764   449238342          0.0            usa
1012880   250764   449701956          0.0            usa
1012881   250764   449907481          0.0            usa
1012882   250764   451130995          0.0            usa
1012883   250764   451145097          0.0            usa
1012884   250764   451150406          0.0            usa
1012885   250764   451157516          0.0            usa
1012886   250764   451160533          0.0            usa
1012887   250764   451173139          0.0            usa
1012888   250764   451180410          0.0            usa
1012889   250764   451188497          0.0            usa
1012890   250764   451191013          0.0            usa
1012891   250764   451191692          0.0            usa
1012892   250764   451192001          0.0            usa
1012893   250764   451193911          0.0            usa
1012894   250764   451197232          0.0            usa
1012895   250764   451202309          0.0            usa
1012896   250764   451202953          0.0            usa
1012897   250764   451203615          0.0            usa
1012898   250764   451205626          0.0            usa
1012899   250764   451206711          0.0            usa
1012900   250764   451400763          0.0            usa
1012901   250764   451401387          0.0            usa
1012902   250764   451410777          0.0            usa
1012903   250764   452264464          8.0            usa
1012904   250764  048623715X          0.0            usa
1012905   250764   486256588          0.0            usa
1012906   250764   515069434          0.0            usa

[1012907 rows x 4 columns]

In [21]:
# Delete extraneous column
del users_new_df['Book-Rating']
users_new_df.head()

   User-ID        ISBN     Country
0   276725  034545104X         usa
1   276726   155061224         usa
2   276727   446520802   australia
3   276729  052165615X     croatia
4   276729   521795028     croatia

In [ ]:
#engine = create_engine('mysql://root:root123@127.0.0.1:3306/users_db')

In [ ]:
#users_new_df.to_sql(name='users_data', con=engine, if_exists = 'append', index=False)

In [ ]:
#pd.read_sql_query('select * from users_data', con=engine).head()

In [22]:
# Put transformed dataframe to csv file
users_new_df.to_csv('Resources/clean_user_data.csv',index = True, header = True)